# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environment folders
.env
.venv

# OS files
.DS_Store
Thumbs.db

# Data files (optional)
*.zip
*.csv
